html{
    background-image:url(/img/restaurant_icons.png);
}
body{
	width:1074px;
	margin:0px auto;
    background-color: #fff;
}

.container{
	overflow:hidden;
}

#mainbody{
	width:750px;
	float:left;
	border:solid 1px #000;
}

.main-top{
	text-align:center;
}

table#main-table th {
    width: 530px;
    border: 1px #E3E3E3 solid;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #99FFCC;

}
.main-content{
    padding:0px 20px;
}