html{
    background-image:url(/img/restaurant_icons.png);
}
body{
	width:1074px;
	margin:0px auto;
    background-color: #fff;
}

.container{
	overflow:hidden;
}

#mainbody{
	width:750px;
	float:left;
	border:solid 1px #000;
}

.main-top{
	text-align:center;
}