html{
    background-image:url(/img/restaurant_icons.png);
}
body{
	width:1060px;
	margin:20px auto;
}

.container{
	overflow:hidden;
}

#mainbody{
	width:750px;
	float:left;
    background-color:#fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding-bottom: 32768px;
    margin-bottom: -32768px;
}

.main-top{
	text-align:center;
}

table#main-table th {
    width: 530px;
    border: 1px #E3E3E3 solid;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #99FFCC;

}
.main-content{
    padding:0px 20px;
}